.rdg {
  border: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.rdg-row:hover,
.rdg-row:hover .rdg-cell {
  background-color: rgba(254, 228, 110, 0.5);
}

.rdg-cell {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.rdg-cell[role='columnheader'] {
  color: #fff;
  font-size: 15px;
  background-color: #000;
}

.rdg-cell[aria-selected='true'] {
  outline: 2px solid #bbbefe;
}

a.title {
  display: block;
  text-decoration: none;
  color: #bbbefe;
  text-align: left;
  padding: 0 30px;
  transition: ease-in 0.4s;
}

a.title:hover {
  text-decoration: underline;
}

.likes-cell {
  cursor: pointer;
}

.likes-cell svg {
  margin-right: 5px;
}

/* .likes-cell.active svg {
  color: #fee46e;
} */
